yaml-templates/template_abt.yml
AWSTemplateFormatVersion: 2010-09-09
Transform: "AWS::LanguageExtensions"
# Sample YAML to demonstrate creating a job using a ORACLE JDBC DB with the viamericas data to an S3 file
#
#
# Mappings
# here we define some required data for glue jobs and glue crawlers
Mappings:
  # GlueObjectsAbt
  GlueObjects:
    ABTPartitionGenerator:
      JobName: "sdlf_gj_abt_partition_generator"
      #TODO: CHANGE SCRIPT LOCATION
      ScriptLocation: "s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/scripts/gj_abt_partition_generator_glue_script.py"

    ABTSourceGenerator:
      JobName: "sdlf_gj_abt_source_generator"
      #TODO: CHANGE SCRIPT LOCATION
      ScriptLocation: "s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/scripts/gj_abt_source_generator_glue_script.py"

    ModelInference:
      JobName: "sdlf_gj_inference_predictions"
      #TODO: CHANGE SCRIPT LOCATION
      ScriptLocation: "s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/scripts/gj_inference_script.py"

    DailyMapeProcess:
      JobName: "sdlf_gj_daily_mape"
      #TODO: CHANGE SCRIPT LOCATION
      ScriptLocation: "s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/scripts/gj_daily_mape_script.py"

  # Crawler objects
  CrawlerObjects:
    LastDailyForex:
      CrawlerName: "sdlf_crw_abt_source_generator_last_daily_forex_country"
      #TODO: CHANGE S3 BUCKET
      Path: "s3://viamericas-datalake-dev-us-east-1-283731589572-analytics/last_daily_forex_country/"
    DailyCheckGp:
      CrawlerName: "sdlf_crw_abt_source_generator_daily_check_gp"
      #TODO: CHANGE S3 BUCKET
      Path: "s3://viamericas-datalake-dev-us-east-1-283731589572-analytics/daily_check_gp/"
    DailySalesCountCancelled:
      CrawlerName: "sdlf_crw_abt_source_generator_daily_sales_count_cancelled_v2"
      #TODO: CHANGE S3 BUCKET
      Path: "s3://viamericas-datalake-dev-us-east-1-283731589572-analytics/daily_sales_count_cancelled_v2/"
#
#
# Parameters section contains names that are substituted in the Resources section
# These parameters are the names the resources created in the Data Catalog
Parameters:
  #Glue Job
  # The name of the job to be created
  VIAGlueObjectDailyMape:
    Type: String
    Default: "DailyMapeProcess"
  # The name of the job to be created
  VIAGlueObjectInference:
    Type: String
    Default: "ModelInference"
  # The name of the job to be created
  VIAGlueObjectsABTPartition:
    Type: String
    Default: "ABTPartitionGenerator"
  # The name of the job to be created
  VIAGlueObjectABTSources:
    Type: String
    Default: "ABTSourceGenerator"
  # The name of the IAM role that the job assumes. It must have access to data, script, temporary directory
  VIAIAMRoleName:
    Type: String
    Default: GlueRolFullAccess
  # The S3 path where the script for this job is located
  #TODO: CHANGE ACCOUNT NUMBER
  VIACrawlerRolArn:
    Type: String
    Default: arn:aws:iam::283731589572:role/sdlf-lakeformation-admin

  # Database to store data
  VIADatabaseName:
    Type: String
    Default: analytics

  # Crawler names
  VIACrawlerObjectsNames:
    Type: CommaDelimitedList
    Default: "LastDailyForex, DailyCheckGp, DailySalesCountCancelled"

  # Lambda Rol name
  VIALambdaRoleInputMapName:
    Type: String
    Default: sdlf_lambda_role_input_map_name
  VIALambdaRoleCrawler:
    Type: String
    Default: sdlf_lambda_role_crawler

  # Lambda Name
  VIALambdaInputMapName:
    Type: String
    Default: sdlf_input_analytics_map
  VIALambdaCrawlerName:
    Type: String
    Default: sdlf_lambda_crawler_init

  # State Machine Role Name
  VIAStateMachineABTRoleName:
    Type: String
    Default: sdlf_state_machine_abt_role

  # State Machine name
  VIAStateMachineABTName:
    Type: String
    Default: sdlf_state_machine_abt

  VIAStateMachineType:
    Type: String
    Default: STANDARD
  # SNS
  VIASnsTopicName:
    Type: String
    Default: sdlf-abt-notifications
  VIASnsTopicNameInference:
    Type: String
    Default: sdlf-inference-notifications
  # TODO: Change CONTROL/ALERT EMAIL.
  VIASnsTopicEndpoint:
    Type: String
    Default: lautaro.gramuglia@strata-analytics.us
  VIASnsTopicProtocol:
    Type: String
    Default: EMAIL

  # Event Rule Role
  ViaEventBridgeRuleRoleName:
    Type: String
    Default: role_rule_abt_execution_daily
  # Event Rule Name
  ViaEventBridgeRuleDailyName:
    Type: String
    Default: rule_daily_abt_sm_execution

  # Connections
  VIAConnectionName:
    Type: String
    Default: via-redshift-connection
  VIAConnectionNameOld:
    Type: String
    Default: via-redshift-connection2
  GlueConnSG:
    Type: String
    Default: sg-0383ae40fcb40f359
  GlueConnSubNet:
    Type: String
    Default: subnet-060e0a2d52965b904

Resources:
  ##### Glue Jobs #####
  # Spark etl ABT PARTITION GENERATOR
  VIAGlueABTPartitionGenerator:
    Type: AWS::Glue::Job
    Properties:
      Role: !Ref VIAIAMRoleName
      # Connection to Redshift
      Connections:
        Connections:
          - !Ref VIAConnectionName
      #MaxRetries: Number
      Description: "Job created with CloudFormation using existing script. Abt Partition Generator."
      #LogUri: String
      Command:
        Name: "glueetl"
        PythonVersion: "3"
        ScriptLocation:
          Fn::FindInMap:
            ["GlueObjects", !Ref VIAGlueObjectsABTPartition, "ScriptLocation"]
      NumberOfWorkers: 3
      GlueVersion: "4.0"
      DefaultArguments:
        "--LOG_LEVEL": "INFO"
        "--JOB_NAME": "sdlf_gj_abt_partition_generator"
        # TODO: libreria cargada en s3. CHANGE S3 BUCKET.
        "--additional-python-modules": "s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/holidays/holidays-0.43-py3-none-any.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/python-dateutil/python_dateutil-2.9.0.post0-py2.py3-none-any.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/six/six-1.16.0-py2.py3-none-any.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/awswrangler/awswrangler-3.7.2-py3-none-any.whl"
        # Enable Use Glue data catalog as the Hive metastore
        "--enable-glue-datacatalog": true
        # TODO: CHANGE S3 BUCKET.
        "--bucket_name": "viamericas-datalake-dev-us-east-1-283731589572-analytics"
        "--date_lag": "1"
        "--end_date": "2023-12-31"
        "--process_date": "None"
        "--start_date": "2021-01-01"
        "--database": "dev"
        "--schema": "viamericas"
        "--table_name": "monitoring_test"
        # TODO: CHANGE S3 BUCKET.
        "--temp_s3_dir": "s3://viamericas-datalake-dev-us-east-1-283731589572-analytics/glue_abt/raw/tmp_dir/"
      Tags:
        "map-migrated": "mig42454"
        "process": "abt"
      ExecutionProperty:
        MaxConcurrentRuns: 1
      Timeout: 30
      WorkerType: "G.1X"
      Name:
        Fn::FindInMap:
          ["GlueObjects", !Ref VIAGlueObjectsABTPartition, "JobName"]

  # Spark etl SOURCE GENERATOR
  VIAGlueABTSourceGenerator:
    Type: AWS::Glue::Job
    Properties:
      Role: !Ref VIAIAMRoleName
      Description: "Job created with CloudFormation using existing script. Source Abt generator"
      #LogUri: String
      Command:
        Name: "glueetl"
        PythonVersion: "3"
        ScriptLocation:
          Fn::FindInMap:
            ["GlueObjects", !Ref VIAGlueObjectABTSources, "ScriptLocation"]
      NumberOfWorkers: 3
      GlueVersion: "4.0"
      DefaultArguments:
        "--additional-python-modules": "awswrangler==2.14.0"
      ExecutionProperty:
        MaxConcurrentRuns: 1
      Name:
        Fn::FindInMap: ["GlueObjects", !Ref VIAGlueObjectABTSources, "JobName"]
      Timeout: 30
      Tags:
        "map-migrated": "mig42454"
        "process": "abt"
      WorkerType: "G.1X"

  # Spark etl INFERENCE PREDICTION
  VIAGlueInference:
    Type: AWS::Glue::Job
    Properties:
      Role: !Ref VIAIAMRoleName
      # Connection to Redshift
      Connections:
        Connections:
          - !Ref VIAConnectionName
      #MaxRetries: Number
      Description: "Job created with CloudFormation using existing script. Inference model prediction."
      #LogUri: String
      Command:
        Name: "glueetl"
        PythonVersion: "3"
        ScriptLocation:
          Fn::FindInMap:
            ["GlueObjects", !Ref VIAGlueObjectInference, "ScriptLocation"]
      NumberOfWorkers: 3
      GlueVersion: "4.0"
      DefaultArguments:
        "--LOG_LEVEL": "INFO"
        "--JOB_NAME": "sdlf_gj_inference_predictions"
        # TODO: libreria cargada en s3. # TODO: CHANGE S3 BUCKET.
        "--additional-python-modules": "s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/alembic/alembic-1.13.1-py3-none-any.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/awswrangler/awswrangler-3.7.2-py3-none-any.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/boto3/boto3-1.34.80-py3-none-any.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/botocore/botocore-1.34.80-py3-none-any.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/colorama/colorama-0.4.6-py2.py3-none-any.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/colorlog/colorlog-6.8.2-py3-none-any.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/cython/Cython-3.0.10-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/greenlet/greenlet-3.0.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/jmespath/jmespath-1.0.1-py3-none-any.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/joblib/joblib-1.3.2-py3-none-any.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/mako/Mako-1.3.2-py3-none-any.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/markupsafe/MarkupSafe-2.1.5-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/numpy/numpy-1.26.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/optuna/optuna-3.4.0-py3-none-any.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/packaging/packaging-24.0-py3-none-any.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/pandas/pandas-2.1.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/patsy/patsy-0.5.6-py2.py3-none-any.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/pmdarima/pmdarima-2.0.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.manylinux_2_28_x86_64.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/pyarrow/pyarrow-15.0.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/python-dateutil/python_dateutil-2.9.0.post0-py2.py3-none-any.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/pytz/pytz-2024.1-py2.py3-none-any.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/pyyaml/PyYAML-6.0.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/s3transfer/s3transfer-0.10.1-py3-none-any.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/scikit-learn/scikit_learn-1.3.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/scipy/scipy-1.13.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/setuptools/setuptools-69.2.0-py3-none-any.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/six/six-1.16.0-py2.py3-none-any.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/skforecast/skforecast-0.11.0-py3-none-any.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/sqlalchemy/SQLAlchemy-2.0.29-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/statsmodels/statsmodels-0.14.1-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/threadpoolctl/threadpoolctl-3.4.0-py3-none-any.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/tqdm/tqdm-4.66.2-py3-none-any.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/typing-extensions/typing_extensions-4.11.0-py3-none-any.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/tzdata/tzdata-2024.1-py2.py3-none-any.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/urllib3/urllib3-2.2.1-py3-none-any.whl"
        # Enable Use Glue data catalog as the Hive metastore
        "--enable-glue-datacatalog": true
        "--arn_report": !Ref VIASnsTopicInference
        # TODO: change bucket name.
        "--bucket_name": "viamericas-datalake-dev-us-east-1-283731589572-analytics"
        "--model_2d_prefix": "MODEL_2d_"
        "--model_8d_prefix": "MODEL_7d"
        "--prefix_abt_name": "abt_parquet"
        "--prefix_inference_name": "inference_prediction/"
        "--prefix_model_name_2d": "ABTv3/Tableau/"
        "--prefix_model_name_8d": "ABTv3/Last_releases_7d_8lags/"
        "--process_date": "None"
        "--database": "dev"
        "--schema": "viamericas"
        "--table_name_2d": "predict_2d_test"
        "--table_name_8d": "predict_8d_test"
        # TODO: CHANGE S3 BUCKET.
        "--temp_s3_dir": "s3://viamericas-datalake-dev-us-east-1-283731589572-analytics/glue_abt/raw/tmp_dir/"
      Tags:
        "map-migrated": "mig42454"
        "process": "abt"
      ExecutionProperty:
        MaxConcurrentRuns: 1
      Timeout: 30
      WorkerType: "G.1X"
      Name:
        Fn::FindInMap: ["GlueObjects", !Ref VIAGlueObjectInference, "JobName"]

  # Spark etl DAILY MAPE
  VIAGlueDailyMape:
    Type: AWS::Glue::Job
    Properties:
      Role: !Ref VIAIAMRoleName
      # Connection to Redshift
      Connections:
        Connections:
          - !Ref VIAConnectionName
      #MaxRetries: Number
      Description: "Job created with CloudFormation using existing script. Daily Mape."
      #LogUri: String
      Command:
        Name: "glueetl"
        PythonVersion: "3"
        ScriptLocation:
          Fn::FindInMap:
            ["GlueObjects", !Ref VIAGlueObjectDailyMape, "ScriptLocation"]
      NumberOfWorkers: 3
      GlueVersion: "4.0"
      DefaultArguments:
        "--LOG_LEVEL": "INFO"
        "--JOB_NAME": "sdlf_gj_daily_mape"
        # TODO: libreria cargada en s3. # TODO: CHANGE S3 BUCKET.
        "--additional-python-modules": "s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/awswrangler/awswrangler-3.7.2-py3-none-any.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/boto3/boto3-1.34.80-py3-none-any.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/botocore/botocore-1.34.80-py3-none-any.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/jmespath/jmespath-1.0.1-py3-none-any.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/numpy/numpy-1.26.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/packaging/packaging-24.0-py3-none-any.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/pandas/pandas-2.1.4-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/pyarrow/pyarrow-15.0.2-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/python-dateutil/python_dateutil-2.9.0.post0-py2.py3-none-any.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/pytz/pytz-2024.1-py2.py3-none-any.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/s3transfer/s3transfer-0.10.1-py3-none-any.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/six/six-1.16.0-py2.py3-none-any.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/typing-extensions/typing_extensions-4.11.0-py3-none-any.whl,s3://viamericas-datalake-dev-us-east-1-283731589572-glue-jobs/abt/package_v2/urllib3/urllib3-2.2.1-py3-none-any.whl"
        # Enable Use Glue data catalog as the Hive metastore
        "--enable-glue-datacatalog": true
        # TODO: CHANGE S3 BUCKET.
        "--bucket_name": "viamericas-datalake-dev-us-east-1-283731589572-analytics"
        "--database_athena": "analytics"
        "--database_redshift": "dev"
        "--prefix" : "inference_prediction"
        "--save_prefix" : "mape_results"
        "--schema": "viamericas"
        "--table_name_athena" : "daily_check_gp"
        "--table_name_redshift" : "mape_monitoring"
        # TODO: CHANGE S3 BUCKET.
        "--temp_s3_dir": "s3://viamericas-datalake-dev-us-east-1-283731589572-analytics/glue_abt/raw/tmp_dir/"
        "--process_date": "None"
      Tags:
        "map-migrated": "mig42454"
        "process": "abt"
      ExecutionProperty:
        MaxConcurrentRuns: 1
      Timeout: 30
      WorkerType: "G.1X"
      Name:
        Fn::FindInMap: ["GlueObjects", !Ref VIAGlueObjectDailyMape, "JobName"]


  ### Connection Redshift ###
  GlueConnection:
    Type: AWS::Glue::Connection
    Properties:
      CatalogId: !Ref AWS::AccountId
      ConnectionInput:
        ConnectionProperties:
          JDBC_CONNECTION_URL: "{{resolve:secretsmanager:REDSHIFT-CREDENTIALS:SecretString:connectionString}}"
          USERNAME: "{{resolve:secretsmanager:REDSHIFT-CREDENTIALS:SecretString:username}}"
          PASSWORD: "{{resolve:secretsmanager:REDSHIFT-CREDENTIALS:SecretString:password}}"
          JDBC_ENFORCE_SSL: False
        ConnectionType: JDBC
        PhysicalConnectionRequirements:
          SecurityGroupIdList:
            - !Ref GlueConnSG
          SubnetId: !Ref GlueConnSubNet
        Name: !Ref VIAConnectionNameOld

  ##### Crawlers #####
  # Create crawlers that create the schema in the database
  # Crawler 1 : 1 Glue
  VIACrawlerGlueABT:
    Type: AWS::Glue::Crawler
    Properties:
      Name: "sdlf_crw_abt_partition_generator"
      Role: !Ref VIACrawlerRolArn
      #Classifiers: none, use the default classifier
      Description: "AWS Glue crawler to crawl viamericas data"
      #Schedule: none, use default run-on-demand
      DatabaseName: !Ref VIADatabaseName
      Targets:
        S3Targets:
          # Private S3 path with the viamericas data
          #TODO: CHANGE PATH LOCATION
          - Path: "s3://viamericas-datalake-dev-us-east-1-283731589572-analytics/abt/"
      Tags:
        "map-migrated": "mig42454"
        "process": "abt"
      TablePrefix: ""
      RecrawlPolicy:
        RecrawlBehavior: "CRAWL_EVERYTHING"
      SchemaChangePolicy:
        UpdateBehavior: "UPDATE_IN_DATABASE"
        DeleteBehavior: "DEPRECATE_IN_DATABASE"
      Configuration: '{"Version":1.0,"CreatePartitionIndex":true}'

  # Crawler N : 1 Glue
  Fn::ForEach::GlueCrawlers:
    - GlueCrawlerItem
    - !Ref VIACrawlerObjectsNames
    - Crawler${GlueCrawlerItem}:
        Type: AWS::Glue::Crawler
        Properties:
          Name:
            Fn::FindInMap:
              ["CrawlerObjects", !Ref GlueCrawlerItem, "CrawlerName"]
          Role: !Ref VIACrawlerRolArn
          #Classifiers: none, use the default classifier
          Description: "AWS Glue crawler to crawl viamericas data"
          #Schedule: none, use default run-on-demand
          DatabaseName: !Ref VIADatabaseName
          Targets:
            S3Targets:
              # Private S3 path with the viamericas data
              - Path:
                  Fn::FindInMap:
                    ["CrawlerObjects", !Ref GlueCrawlerItem, "Path"]
          Tags:
            "map-migrated": "mig42454"
            "process": "abt"
          TablePrefix: ""
          RecrawlPolicy:
            RecrawlBehavior: "CRAWL_EVERYTHING"
          SchemaChangePolicy:
            UpdateBehavior: "UPDATE_IN_DATABASE"
            DeleteBehavior: "DEPRECATE_IN_DATABASE"
          Configuration: '{"Version":1.0,"CreatePartitionIndex":true}'

  ##### Rol Lambdas #####
  # Rol for lambda function input map
  VIALambdaInputMapRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${VIALambdaRoleCrawler}
      Description: "IAM role for lambda"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: "Allow"
            Principal:
              Service:
                - "lambda.amazonaws.com"
            Action:
              - "sts:AssumeRole"
      Policies:
        - PolicyName: "root"
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: "Allow"
                Action:
                  - "logs:*"
                Resource:
                  - "*"

  # Rol for lambda function crawler
  VIALambdaCrawlerRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Sub ${VIALambdaRoleInputMapName}
      Description: "IAM role for lambda"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: "Allow"
            Principal:
              Service:
                - "lambda.amazonaws.com"
            Action:
              - "sts:AssumeRole"
      Policies:
        - PolicyName: "root"
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: "Allow"
                Action:
                  - "logs:*"
                  - "glue:*"
                Resource:
                  - "*"

  ##### Lambdas #####
  # Lambda Input Map
  VIALambdaInputMap:
    Type: AWS::Lambda::Function
    Properties:
      Runtime: "python3.11"
      Role: !GetAtt VIALambdaInputMapRole.Arn
      FunctionName: !Sub ${VIALambdaInputMapName}
      Handler: sdlf_input_analytics_map.lambda_handler
      Timeout: 60
      EphemeralStorage:
        Size: 512
      MemorySize: 512
      Tags:
        - Key: "map-migrated"
          Value: "mig42454"
        - Key: "process"
          Value: "abt"
      Code:
        # TODO: CHANGE S3 BUCKET.
        S3Bucket: viamericas-datalake-dev-us-east-1-283731589572-analytics
        S3Key: Lambdas/scripts/sdlf_input_analytics_map.zip
      Description: List Amazon S3 buckets in us-east-1.
  # Lambda Crawler
  VIALambdaCrawler:
    Type: AWS::Lambda::Function
    Properties:
      Runtime: "python3.11"
      Role: !GetAtt VIALambdaCrawlerRole.Arn
      FunctionName: !Sub ${VIALambdaCrawlerName}
      Handler: sdlf_lambda_crawler_init.lambda_handler
      Timeout: 900
      EphemeralStorage:
        Size: 512
      MemorySize: 512
      Tags:
        - Key: "map-migrated"
          Value: "mig42454"
        - Key: "process"
          Value: "abt"
      Code:
        # TODO: CHANGE S3 BUCKET.
        S3Bucket: viamericas-datalake-dev-us-east-1-283731589572-analytics
        S3Key: Lambdas/scripts/sdlf_lambda_crawler_init.zip
      Description: List Amazon S3 buckets in us-east-1.

  ##### SNS #####
  # Sns topic
  VIASnsTopic:
    Type: AWS::SNS::Topic
    Properties:
      Subscription:
        - Endpoint: !Ref VIASnsTopicEndpoint
          Protocol: !Ref VIASnsTopicProtocol
      Tags:
        - Key: "map-migrated"
          Value: "mig42454"
        - Key: "process"
          Value: "abt"
      DisplayName: "Alert! ABT Process Failed."
      TopicName: !Ref VIASnsTopicName

  # Sns topic
  VIASnsTopicInference:
    Type: AWS::SNS::Topic
    Properties:
      Subscription:
        - Endpoint: !Ref VIASnsTopicEndpoint
          Protocol: !Ref VIASnsTopicProtocol
      Tags:
        - Key: "map-migrated"
          Value: "mig42454"
        - Key: "process"
          Value: "inference"
      DisplayName: "Alert! Inference Prediction Report."
      TopicName: !Ref VIASnsTopicNameInference

  ##### Event Rule Role #####
  VIAEventBridgeRuleRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Ref ViaEventBridgeRuleRoleName
      Description: "IAM role for event rule"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: "Allow"
            Principal:
              Service:
                - "events.amazonaws.com"
            Action:
              - "sts:AssumeRole"
      Policies:
        - PolicyName: "root"
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: "Allow"
                Action:
                  - "states:StartExecution"
                Resource:
                  - "*"

  ##### Rol State Machine #####
  # Role pipeline orchestrator
  VIAStateMachineAbtRole:
    Type: AWS::IAM::Role
    Properties:
      RoleName: !Ref VIAStateMachineABTRoleName
      Description: "IAM role for step functions"
      AssumeRolePolicyDocument:
        Version: "2012-10-17"
        Statement:
          - Effect: "Allow"
            Principal:
              Service:
                - "states.amazonaws.com"
            Action:
              - "sts:AssumeRole"
      Policies:
        - PolicyName: "root"
          PolicyDocument:
            Version: "2012-10-17"
            Statement:
              - Effect: "Allow"
                Action:
                  - "logs:*"
                  - "lambda:*"
                  - "states:*"
                  - "events:PutTargets"
                  - "events:PutRule"
                  - "events:DescribeRule"
                  - "glue:*"
                  - "logs:*"
                  - "sns:*"
                Resource:
                  - "*"

  ##### State Machine #####
  VIAStateMachineAbt:
    Type: AWS::StepFunctions::StateMachine
    Properties:
      Definition:
        {
          "Comment": "A description of my state machine",
          "StartAt": "glue_run_analytics_inputs",
          "States":
            {
              "glue_run_analytics_inputs":
                {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::glue:startJobRun.sync",
                  "Parameters":
                    {
                      "JobName":
                        !FindInMap [
                          "GlueObjects",
                          "ABTSourceGenerator",
                          "JobName",
                        ],
                    },
                  "Next": "sdlf_input_analytics",
                  "Catch":
                    [
                      {
                        "ErrorEquals": ["States.TaskFailed", "States.Timeout"],
                        "ResultPath": "$.Error",
                        "Next": "Alert",
                      },
                    ],
                },
              "Alert":
                {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::sns:publish",
                  "Parameters":
                    { "Message.$": "$.Error", "TopicArn": !Ref VIASnsTopic },
                  "Next": "Fail",
                },
              "Fail": { "Type": "Fail" },
              "sdlf_input_analytics":
                {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "OutputPath": "$.Payload",
                  "Parameters":
                    {
                      "Payload.$": "$",
                      "FunctionName": !GetAtt VIALambdaInputMap.Arn,
                    },
                  "Retry":
                    [
                      {
                        "ErrorEquals":
                          [
                            "Lambda.ServiceException",
                            "Lambda.AWSLambdaException",
                            "Lambda.SdkClientException",
                            "Lambda.TooManyRequestsException",
                          ],
                        "IntervalSeconds": 1,
                        "MaxAttempts": 3,
                        "BackoffRate": 2,
                      },
                    ],
                  "Next": "Map",
                },
              "Map":
                {
                  "Type": "Map",
                  "ItemProcessor":
                    {
                      "ProcessorConfig": { "Mode": "INLINE" },
                      "StartAt": "sdlf_lambda_crawler",
                      "States":
                        {
                          "sdlf_lambda_crawler":
                            {
                              "Type": "Task",
                              "Resource": "arn:aws:states:::lambda:invoke",
                              "OutputPath": "$.Payload",
                              "Parameters":
                                {
                                  "FunctionName": !GetAtt VIALambdaCrawler.Arn,
                                  "Payload.$": "$",
                                },
                              "Retry":
                                [
                                  {
                                    "ErrorEquals":
                                      [
                                        "Lambda.ServiceException",
                                        "Lambda.AWSLambdaException",
                                        "Lambda.SdkClientException",
                                        "Lambda.TooManyRequestsException",
                                      ],
                                    "IntervalSeconds": 1,
                                    "MaxAttempts": 3,
                                    "BackoffRate": 2,
                                  },
                                ],
                              "End": true,
                            },
                        },
                    },
                  "ItemsPath": "$.CrawlerNames",
                  "Next": "glue_run_abt",
                  "Catch":
                    [
                      {
                        "ErrorEquals": ["States.TaskFailed"],
                        "ResultPath": "$.Error",
                        "Next": "Alert",
                      },
                    ],
                },
              "glue_run_abt":
                {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::glue:startJobRun.sync",
                  "Parameters":
                    {
                      "JobName":
                        !FindInMap [
                          "GlueObjects",
                          "ABTPartitionGenerator",
                          "JobName",
                        ],
                    },
                  "Catch":
                    [
                      {
                        "ErrorEquals": ["States.TaskFailed", "States.Timeout"],
                        "ResultPath": "$.Error",
                        "Next": "Alert",
                      },
                    ],
                  "Next": "abt_inference",
                },
              "abt_inference":
                {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::glue:startJobRun.sync",
                  "Parameters":
                    {
                      "JobName":
                        !FindInMap ["GlueObjects", "ModelInference", "JobName"],
                    },
                  "Next": "daily_mape",
                  "Catch":
                    [
                      {
                        "ErrorEquals": ["States.Timeout", "States.TaskFailed"],
                        "Next": "Alert",
                        "ResultPath": "$.Error",
                      },
                    ],
                },
              "daily_mape":
                {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::glue:startJobRun.sync",
                  "Parameters":
                    {
                      "JobName":
                        !FindInMap [
                          "GlueObjects",
                          "DailyMapeProcess",
                          "JobName",
                        ],
                    },
                  "Next": "Success",
                  "Catch":
                    [
                      {
                        "ErrorEquals": ["States.Timeout", "States.TaskFailed"],
                        "ResultPath": "$.Error",
                        "Next": "Alert",
                      },
                    ],
                },
              "Success": { "Type": "Succeed" },
            },
        }
      RoleArn: !GetAtt VIAStateMachineAbtRole.Arn
      StateMachineName: !Ref VIAStateMachineABTName
      StateMachineType: !Ref VIAStateMachineType
      Tags:
        - Key: "map-migrated"
          Value: "mig42454"
        - Key: "process"
          Value: "abt"
      #  - TagsEntry
      #TracingConfiguration:
      #  TracingConfiguration

  ##### Event Rule  #####
  VIAEventRuleDailyExecution:
    Type: AWS::Events::Rule
    Properties:
      Name: !Ref ViaEventBridgeRuleDailyName
      Description: Executes ABT process daily.
      # TODO: change cron schedule expression to change time execution.
      ScheduleExpression: cron(0 10 * * ? *)
      State: ENABLED
      Targets:
        - Arn: !Ref VIAStateMachineAbt
          Id: VIAStateMachineAbt
          RoleArn: !GetAtt VIAEventBridgeRuleRole.Arn
